.meal-sidebar {
  @include span-columns(3);

  .links {
    // width: 100%;
    // text-align: center;
    margin-top: 1em;

    a {
      display: block;
    }
  }

  .meal-card {
    max-width: 100%;
  }
}

.meal-main {
  @include span-columns(9);
  @include omega;
}
