.planner-sidebar {
  @include span-columns(2);

  padding-top: 3.4em;

  .btn-secondary {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .btn {
    width: 100%;
  }
}

.planner-main {
  @include span-columns(10);
  @include omega();
}
