// Bitters 1.4.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import 'variables';

@import 'buttons';
@import 'forms';
@import 'layout';
@import 'lists';
@import 'media';
@import 'tables';
@import 'typography';

@import 'modules/header';
@import 'modules/textures';
@import 'modules/footer';
@import 'modules/hero';
@import 'modules/bullet_points';
@import 'modules/alerts';
@import 'modules/dashboard_card';

* {
  margin: 0;
}

html, body {
 height: 100%;
}

html {
  overflow-x: hidden;
}
