html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper-for-content-outside-of-footer {
  min-height: 70%;
}

.container {
  @include outer-container(80%);
  margin-top: 2em;
}

.breadcrumbs {
  margin-bottom: 2em;
}
