.meal-card {
  width: 15em;
  height: 18em;
  background-color: #012A36;
  border-radius: 5px;
  color: white;
  position: relative;
  display: inline-block;

  i {
    font-size: 90px;
    padding-top: 0.5em;
    display: block;
    text-align: center;
  }

  i.delete {
    font-size: 36px;
    color: #F44708;
    position: absolute;
    right: 5px;
    top: -0.5em;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }

  img {
    height: 13.5em;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  h2 {
    margin-bottom: 7px;
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    height: 60px;
    width: 100%;
    text-align: center;
    overflow-y: auto;
    // margin-bottom: 0;
  }
}

.meal-list {
  a {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

.planned-meal-list {
  .meal-card {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}
