<div class="hero">
</div>

<ul class="bullets home">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <%= fa_icon 'cutlery' %>
    </div>
    <div class="bullet-content">
      <h2>Meals</h2>
      <p>Store your favorite recipes and meals for easy reference</p>
      </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">
      <%= fa_icon 'calendar' %>
    </div>
    <div class="bullet-content">
      <h2>Plan</h2>
      <p>Plan your meals for the weekend, week, or month</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">
      <%= fa_icon 'list-ul' %>
    </div>
    <div class="bullet-content">
      <h2>Shop</h2>
      <p>Make shopping easy with automatic, aggregated grocery lists</p>
    </div>
  </li>
</ul>

<%= link_to 'Sign Up', '#', class: 'btn btn-large' %>
